@import config

.container
    max-width: 1140px
    margin: auto
    padding: 0 15px
.header
    height: auto
    padding-top: 60px
    margin-bottom: 60px
.header__inner
    display: flex
    justify-content: space-between
    align-items: center
    vertical-align: center
.header__contact
    font-size: 24px
    line-height: 30px
    color: $black
    font-weight: 700
/*Intro*/
.intro
    margin-bottom: 169px
.intro__inner,
.work__inner
    text-align: center
.intro__title,
.work__title
    font-size: 64px
    line-height: 79px
    color: $black
    font-weight: bold
    margin-bottom: 24px
.intro__subtitle,
.work__subtitle   
    color: $grey
    font-size: 16px
    line-height: 25px
    margin-bottom: 48px
.intro__subscribe,
.work__subscribe
    margin-bottom: 64px
.intro__input
    width: 328px
    height: 76px
    padding: 28px 32px
    font-size: 20px
    line-height: 24px
    background-color: $input-bg
    border-radius: 4px 0px 0px 4px
    color: $input-text
    border: 0
.btn
    color: $btn-text
    font-size: 24px
    line-height: 29px
    text-align: center
    padding: 26px 48px
    background-color: $btn-bg
    margin-left: -4px
    border: 0
.intro__image,
.work__image
    width: 824px
    height: 428px
    margin: 0 auto
/*Companies*/ 
.companies
    margin-bottom: 179px
.companies__inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap
/*Expertise*/
.expertise
    margin-bottom: 123px
.expertise__title
    font-size: 64px
    line-height: 79px
    text-align: center
    color: $black
    font-weight: bold
    margin-bottom: 128px
.expertise__inner
    display: flex
    justify-content: center
    flex-direction: row
.expertise__item
    padding-right: 30px
    width: 30%
    text-align: center
.expertise__item-image
    margin-bottom: 32px
.expertise__item-category
    font-size: 24px
    line-height: 30px
    font-weight: bold
    color: $black
    margin-bottom: 12px
.expertise__item-sub-category
    font-size: 16px
    line-height: 25px
    color: $grey
    li
        list-style: none
        
/*Communication*/        
.communication
    background-color: $grey-bg
    max-height: 676px
    margin-bottom: 192px
   
.communication__title
    font-size: 64px
    line-height: 79px
    text-align: center
    color: $black
    font-weight: bold
    padding-top: 128px
    margin-bottom: 24px
.communication__description
    font-size: 16px
    line-height: 25px
    text-align: center
    color: $grey
    margin-bottom: 24px
.communication__content
    display: flex
    justify-content: space-between
.communication__image
    text-align: center
    padding-bottom: 64px
/*Work*/    
.work
    margin-bottom: 192px
.work__image
    margin-bottom: 128px

/*Footer*/
.footer
    background-color: $btn-bg
.footer__content
    display: flex
    justify-content: space-between
    align-items: center
.footer__adress
    padding: 48px 0
    font-size: 32px
    line-height: 39px
    color: $white
    opacity: 0.3

.footer__social
    padding: 48px 0
    color: $white
    opacity: 0.3
.social__link
    width: 24px
    height: 24px
    margin-left: 24px
    
    
    
    
    
    
    
    
    
    
    
    

    